/* Banner */

.banner-container {
    width: 100%;
}

.swiper-container {
    height: 290px;
}

.swiper-slide img {
    width: 100%; 
    height: 100%;
}

/* Mais Vendidos */

.container-sales-txt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.margin-sales-txt {
    width: 820px;
}

.sales-txt {
    font-size: 15px;
    font-weight: 900;
    margin: 0;
}

.line-txt {
    position: absolute;
}

/* Product Slider */

.product-slider-container {
    width: 100%;
    margin-top: 16px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-container {
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    width: 160px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.products:hover {
    background-color: #E6E8EA;
}

.image-product {
    width: 100%;
    height: 54%;
    margin-bottom: 6px;
}

.title-product-txt {
    font-size: 9px;
    font-weight: 600;
    color: #7A7A7A;
    margin: 0;
}

.fa-star {
    font-size: 9px;
    color: #F8475F;
}

.price {
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    margin-top: 16px;
}

.quantity {
    font-size: 7px;
    color: #7A7A7A;
    margin: 0;
}

.btn-buy {
    width: 90px;
    height: 26px;
    font-size: 8px;
    border-radius: 3px;
    background-color: black;
    color: white;
    margin-top: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
}

.products:hover > .btn-buy {
    display: block;
}

/* Contact form validation */

.contact-form-container {
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form-info {
    width: 560px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.contact-title {
    font-weight: 700;
}

.input-name-container {
    display: flex;
    flex-direction: column;
}

.input-name { 
    width: 190px;
    border: none;
    padding: 10px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 3px;
}

.name-wrong {
    display: none;
    margin-top: 5px;
    font-size: 10px;
    font-weight: 700;
    color: red;
}

.input-email-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.input-email {
    width: 190px;
    border: none;
    padding: 10px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 3px;
}

.email-wrong {
    display: none;
    margin-top: 5px;
    font-size: 10px;
    font-weight: 700;
    color: red;
}

.btn-send-info {
    font-size: 10px;
    border: none;
    width: 100px;
    height: 32px;
    border-radius: 3px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.container-contact-success {
    width: 420px;
    height: 130px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact-success-txt {
    font-size: 14px;
}

.contact-success-black {
    font-weight: 700;
}

.contact-success-btn {
    width: 340px;
    height: 44px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    /* Banner */

    .swiper-container {
        height: 200px;
        margin-top: 10px;
    }

    .swiper-slide img {
        width: 700px;
        height: 100%;
    }

    /* Product Slider */

    .product-slider-container {
        width: 100%;
        margin-top: 16px;
        height: 540px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products-container {
        width: 400px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    /* Contact form validation */

    .contact-form-container {
        width: 100%;
        height: 250px;
        background-color: #F2F2F2;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form-info {
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form-info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .contact-title {
        font-weight: 700;
        text-align: center;
    }

    .input-name-container {
        height: 54px;
        display: flex;
        flex-direction: column;
    }
    
    .name-wrong {
        display: none;
        margin-top: 5px;
        font-size: 10px;
        font-weight: 700;
        color: red;
    }

    .input-email-container {
        height: 54px;
        display: flex;
        flex-direction: column;
    }

    .email-wrong {
        display: none;
        margin-top: 5px;
        font-size: 10px;
        font-weight: 700;
        color: red;
    }

    .btn-send-info {
        font-size: 10px;
        border: none;
        width: 212px;
        height: 32px;
        border-radius: 3px;
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .container-contact-success {
        width: 320px;
        height: 130px;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .contact-success-txt {
        font-size: 12px;
    }
    
    .contact-success-black {
        font-weight: 700;
    }
    
    .contact-success-btn {
        width: 240px;
        height: 38px;
        border: none;
        border-radius: 3px;
        color: white;
        background-color: black;
        cursor: pointer;
        font-size: 10px;
    }

}

@media screen and (max-width: 440px) {

    /* Product Slider */

    .product-slider-container {
        width: 100%;
        margin-top: 16px;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products-container {
        width: 280px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .products {
        width: 120px;
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .title-product-txt {
        font-size: 6px;
        font-weight: 600;
        color: #7A7A7A;
        margin: 0;
    }

    .price {
        font-size: 13px;
        font-weight: 700;
        margin: 0;
        margin-top: 10px;
    }

    .btn-buy {
        width: 80px;
        height: 18px;
        font-size: 8px;
        border-radius: 3px;
        background-color: black;
        color: white;
        margin-top: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        display: none;
    }
    
    .products:hover > .btn-buy {
        display: block;
    }
}